#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

:root {
  --initial-color1: black;
  --initial-color2: gray;
  --hover-color1: orange;
  --hover-color2: yellow;
}

body {
  background-color: #242424;
}

.paper-background {
  animation: background-animation 20s infinite alternate;
  background-size: 400% 400%;
}

@keyframes background-animation {
  0% {
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    background-size: 300% 300%;
    background-position: 0% 50%;
  }

  50% {
    background: linear-gradient(60deg, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533);
    background-size: 300% 300%;
    background-position: 100% 50%;
  }

  100% {
    background: linear-gradient(60deg, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82, #f79533, #f37055);
    background-size: 300% 300%;
    background-position: 0% 50%;
  }
}
